.homeContainer {
  width: -webkit-fill-available;
  height: 100vh;
 
  .title {
    text-align: center;
    margin-top: 2rem;
 
    width: 100%;
    span {
      text-align: center;
      font-size: 2rem;
      @media screen and (max-width: 1090px) {
        font-size: 2rem;
      }
      @media screen and (max-width: 600px) {
        font-size: 1.4rem;
      }
    }
  }
  .simsek {
    display: flex;
    justify-content: center;
   
    align-items: center;
    width: 100%;
    margin-top: 2rem;
 
   
    img {
      width: 30rem;
      @media screen and (max-width: 1090px) {
        width: 30rem;
      }
      @media screen and (max-width: 600px) {
        width: 25rem;
      }
      @media screen and (max-width: 450px) {
        width: 20rem;
      }
      @media screen and (max-width: 350px) {
        width: 15rem;
      }
      @media screen and (max-width: 250px) {
        width: 10rem;
      }
    }
  }
  .buttons {
    position: relative;
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
    
    button {
      border: none;
      outline: none;
      margin: 0.5rem;
      font-size: 1.4rem;
      border-radius: 8px;
      cursor: pointer;
      color: #fff;
      @media screen and (max-width: 1090px) {
        margin: 1rem;
        
      }
      @media screen and (max-width: 600px) {
        margin: 0.5rem;
        
      }
      a {
        color: red;
        font-weight: bold;
        text-decoration: none;
      }
    }
    .yes {
      background-color: #fff;
    }
    .yes:hover {
      background-color: #b2b2b2;
    }
    .no {
      margin-left: 15rem;
      
      font-weight: bold;
      background-color: red;
      cursor: default;
   
      transition-duration: 0.5s;
    }
  }
  @media (max-width: 768px) {
    .buttons {
      flex-direction: column; /* Butonları dikey olarak düzenle */
      align-items: center; /* Butonları ortala */

      button {
        margin: 1rem; /* Daha az kenar boşluğu */
      }
    }
  }
}
@keyframes changeColor {
  0% {
    color: #ff0000; /* Başlangıç rengi */
  }
  50% {
    color: #ffff; /* Orta nokta rengi */
  }
  100% {
    color: #ff00c3; /* Bitiş rengi */
  }
}

.title span {
  animation: changeColor 5s infinite; /* 5 saniyede bir tekrarlanan animasyon */
}
