.successContainer {
  width: -webkit-fill-available;
  height: 100vh;

  .title {
    text-align: center;
    margin-top: 2rem;
    width: 100%;
    span {
      text-align: center;
      font-size: 2rem;
      @media screen and (max-width: 1090px) {
        font-size: 2rem;
      }
      @media screen and (max-width: 600px) {
        font-size: 1.4rem;
      }
    }
  }
  .kachow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2rem;

    img {
      width: 50rem;
      @media screen and (max-width: 1090px) {
        width: 30rem;
      }
      @media screen and (max-width: 600px) {
        width: 25rem;
      }
      @media screen and (max-width: 450px) {
        width: 20rem;
      }
      @media screen and (max-width: 350px) {
        width: 15rem;
      }
      @media screen and (max-width: 250px) {
        width: 10rem;
      }
    }
  }
}
@keyframes changeColor {
  0% {
    color: #ff0000; /* Başlangıç rengi */
  }
  50% {
    color: #ffff; /* Orta nokta rengi */
  }
  100% {
    color: #ff00c3; /* Bitiş rengi */
  }
}

.title span {
  animation: changeColor 5s infinite; /* 5 saniyede bir tekrarlanan animasyon */
}
